body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.video-container {
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.video:hover {
  opacity: 0.98; /* Adjust opacity as needed */
}

.video:not(:hover) {
  opacity: 0.2;
}

.dynamic-height-row {
  display: flex;
  flex-wrap: wrap;
}

.dynamic-height-col {
  flex: 1;
}

@media (max-width: 576px) {
  .dynamic-height-col {
    height: 43vh; /* Small screens */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .dynamic-height-col {
    height: 37vh; /* Medium screens */
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dynamic-height-col {
    height: 35vh; /* Large screens */
  }
}

@media (min-width: 1080px) {
  .dynamic-height-col {
    height: 42vh; /* Extra large screens */
  }
}

/* ----------------- */

.noto-display-h1 {
  /* thin style material design noto sans */
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
}

/* --- Silhouette Sketch Background Pic Transitions --- */

.silhouette-sketch-bg-pic {
  transition: all 0.4s linear 0s;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.832);
}

.silhouette-sketch-bg-pic:hover {
  transition: all 0.1s linear 0s;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.168);
}

/* ----------------- */

.fully-hidden {
  /* font-size: x-small; */
  display: none !important;
}

.hidden-ct {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 0.4s ease, visibility 0s linear 0.4s, transform 0.4s ease;
}

.visible-ct {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity 0.4s ease, visibility 0s linear, transform 0.4s ease;
}

.card-body-color-hover {
    transition: all 0.6s linear 0s;

}

.card-body-color-hover:hover {
  transition: all 0s linear 0s;

}

.hidden-force {
  display: none !important;
}


/* ----------------- */

.expand-sidebar-hoverable:hover {
  /* transition: all 0.4s linear 0s; */
  background-color: rgba(0, 0, 0, 0.067) !important;
  /* background-clip: border-box; */
  /* background-position: bottom; */
  overflow: hidden;
}

.text-with-outline {
  color: var(--mdb-light); /* Set the color of the text */
  text-shadow: 
    -.25px -.25px 0 var(--mdb-gray),
    .25px -.25px 0 var(--mdb-gray),
    -.25px .25px 0 var(--mdb-gray),
    .25px .25px 0 var(--mdb-gray); /* Set multiple shadows to create the outline effect */
}
