body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.video:hover {
  opacity: .98; /* Adjust opacity as needed */
}

.video:not(:hover) {
  opacity: .85;
}

.dynamic-height-row {
  display: flex;
  flex-wrap: wrap;
}

.dynamic-height-col {
  flex: 1;
}

@media (max-width: 576px) {
  .dynamic-height-col {
    height: 43vh; /* Small screens */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .dynamic-height-col {
    height: 37vh; /* Medium screens */
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dynamic-height-col {
    height: 35vh; /* Large screens */
  }
}

@media (min-width: 1080px) {
  .dynamic-height-col {
    height: 33vh; /* Extra large screens */
  }
}
